<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		
</head>
<body style="text-align: center;">
	<h1 style="padding-top: 50px;">SAVE SUCCESSFUL</h1><br>
	<div class="h-100 d-flex align-items-center justify-content-center">
		<div style="background-color: rgb(193, 193, 193); width: 50%; margin: 50px 5; border-radius: 5px;">
			<div style="padding:20px">
			<h3>Following Employee has been added to the database:</h3><br>
			<h2>{{ name }}</h2><br>
			<title>Add Emp Output</title>
				<form action="http://3.134.115.108:80/" autocomplete="on" method = "GET">
	
					<button type="submit" class="btn btn-primary">GO BACK</button><br><br>
	
				</form>
			</div>
		</div>
	</div>
</body>
</html>
