<!DOCTYPE html>
<html>
<style>
.input66{
  width: 100%;
  padding: 10px;
  margin: 5px 0px;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid;
}

.t2t{
  text-align: left;
  margin: 0px 5px;
}

.navbar{
  font-size: large;
  background-color: #e1eedd;
}
</style>

<head>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<title>Add Employee Information</title>
  <p style="background-color: #fefbe9; color: #183a1d; text-align: center; font-size: 3em; font-family: 'SaolDisplay', san-serif;">EMPLOYEE DATABASE</p>
  <nav class="navbar navbar-expand-lg navbar-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav mx-auto">
        <a class="nav-item nav-link active" href="AddEmp.html">Add Employee<span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" href="About.html">About Us</a>
        <a class="nav-item nav-link" href="GetEmp.html">Get Employee</a>
      </div>
    </div>
  </nav>
</head>
	<body style="background-color: #fefbe9;">
  <br><p style="text-align: center; font-size: 2em; color: #183a1d; font-family: 'SaolDisplay', serif;">Add Employee</p>

  <div style="background-color: #e1eedd; color: #183a1d; width: 50%; margin: 10px auto; border-radius: 5px;">
    <div style="padding: 20px;">
			<form action="/addemp" autocomplete="on" method = "POST" enctype="multipart/form-data">

        <!-- <div style="text-align: center;">
          <button type="submit" formaction="/getemp" class="btn btn-dark" style="width: 80%;">GET EMPLOYEE INFORMATION</button><br><br>
        </div> -->

				Profile Picture: <input type=file id="img_btn" name="emp_image_file" style="height:25px;font-size:14pt;color:grey;"> <br><br>

        <label for="emp1" class="t2t">Employee ID</label>
				<br> <input id="emp1" class="input66" type="number" name="emp_id" autofocus size="40"><br><br>

        <label for="emp2" class="t2t">First Name</label>
		  	<input id="emp2" class="input66" type="text" name="first_name" ><br><br>

        <label for="emp3" class="t2t">Last Name</label>
		  	<input id="emp3" class="input66" type="text" name="last_name"><br><br>

        <label for="emp4" class="t2t">Primary Skills</label>
		  	<input id="emp4" class="input66" type="text" name="pri_skill"><br><br>

        <label for="emp5" class="t2t">Location</label>
		  	<input id="emp5" class="input66" type="text" name="location"><br>

        <div style="text-align: center; margin-top: 10px;">
          <button type="submit" class="btn btn-success" style="width: 100%;">UPDATE DATABASE</button>
        </div>
		  	
			</form>
      <br>
    </div>
		</div>
  <!-- </div> -->
		
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

	</body>

</html>
