<!DOCTYPE html>
<html>
<style>

</style>

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script>
    $(document).ready(function(){
      $("#find_id").on("keyup", function() {
        var value = $(this).val().toLowerCase();
        $("#eid tr").filter(function() {
          $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
      });
    });
    </script>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Staff List</title>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css">
    <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.2.5/css/responsive.dataTables.min.css">
    <script src="https://cdn.datatables.net/responsive/2.2.5/js/dataTables.responsive.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Employee Information</title>
    <p style="background-color: #fefbe9; color: #183a1d; text-align: center; font-size: 3em; font-family: 'SaolDisplay', san-serif;">EMPLOYEE DATABASE</p>
  
</head>
	<body style="background-color: #fefbe9;">
  <!-- <div style="background-color: #e1eedd; color: #183a1d; width: 80%; margin: 10px auto; border-radius: 5px;"> -->

<div class="table-responsive" style="width: 80%; margin: 10px auto;">
    <div>
        <input type="text" id="find_id"  placeholder="Search Staff ID">
    </div>
    <form action="/fetchdata3" autocomplete="on" method = "POST" enctype="multipart/form-data">
    <table id="emp_table" class="table table-bordered table-hover responsive" style="background-color: #e1eedd;">
        <thead style="background-color: #183a1d; color: #fefbe9; text-align: center;">
            <tr>
                <th style="text-align:center;">Employee ID</th>
                <th style="text-align:center;">First Name</th>
                <th style="text-align:center;">Last Name</th>
                <th style="text-align:center;">Primary Skills</th>
                <th style="text-align:center;">Location</th>
                <th style="text-align:center;">Edit</th>
            </tr>
        </thead>
        <tbody   id="eid">
            {% for row in result %}
            <tr>
                <td style='text-align:center;'>{{row.0}}</td>
                <td style='text-align:center;'>{{row.1}}</td>
                <td style='text-align:center;'>{{row.2}}</td>
                <td style='text-align:center;'>{{row.3}}</td>
                <td style='text-align:center;'>{{row.4}}</td>
                <td style='text-align:center;'><button formaction="/fetchdata3/{{row.0}}" class="btn btn-primary btn-xs editFunction">Edit</button></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</form>
</div>
			
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
	</body>

</html>

