<!DOCTYPE html>
<html>
<style>
td{
	height: 70px;
}
.input66{
  width: 100%;
  padding: 5px;
  margin: 5px 0px;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid;
}

.t2t{
  text-align: left;
  margin: 0px 5px;
}
</style>
<head>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<title>Employee Information</title>
	<p style="background-color: #fefbe9; color: #183a1d; text-align: center; font-size: 3em; font-family: 'SaolDisplay', san-serif;">EMPLOYEE DATABASE</p>
</head>
<body style="background-color: #fefbe9; text-align: center;">
	<p style="text-align: center; font-size: 2em; color: #183a1d; font-family: 'SaolDisplay', serif;">Employee Information</p>
		<div class="h-100 d-flex align-items-center justify-content-center">
			<div style="background-color: #e1eedd; color: #183a1d; width: 50%; margin: 10px auto; border-radius: 5px; font-size: larger;">
				<div style="padding: 20px;">
					<form action="/fetchdata" autocomplete="on" method="POST">
						<div>
							<img src=" {{ image_url }} " style="width: 150px; text-align: center; border-radius: 50%;"> <br><br>

							<table style="width: 55%; text-align: left; margin: auto; border: none;">
								<tbody>
								  <tr>
									<td><label for="emp1" class="t2t">Employee ID</label></td>
									<td><input id="emp1" class="input66" type="number" name="emp_id" value="{{ result[0] }}" readonly="readonly"></td>
								  </tr>
								  <tr>
									<td><label for="emp2" class="t2t">First Name</label></td>
									<td><input id="emp2" class="input66" type="text" name="first_name" value="{{ result[1] }}" readonly="readonly"></td>
								  </tr>
								  <tr>
									<td><label for="emp3" class="t2t">Last Name</label></td>
									<td><input id="emp3" class="input66" type="text" name="last_name" value="{{ result[2] }}" readonly="readonly"></td>
								  </tr>
								  <tr>
									<td><label for="emp4" class="t2t">Primary Skills</label></td>
									<td><input id="emp4" class="input66" type="text" name="pri_skill" value="{{ result[3] }}" readonly="readonly"></td>
								  </tr>
								  <tr>
									<td><label for="emp5" class="t2t">Location</label></td>
									<td><input id="emp5" class="input66" type="text" name="location" value="{{ result[4] }}" readonly="readonly"></td>
								  </tr>
								</tbody>
							  </table>

							  <button type="submit" class="btn btn-primary" formaction="/getemp/">Go back</button>

							  <button type="submit" class="btn btn-danger" formaction="/fetchdata2" method="GET">RESET</button><br><br>
						  </div>
					</form>
				</div>
			</div>
		</div>
		
</body>
</html>
