<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<title>Employee Information</title>
	<p style="background-color: #fefbe9; color: #183a1d; text-align: center; font-size: 3em; font-family: 'SaolDisplay', san-serif;">EMPLOYEE DATABASE</p>
</head>
<body style="background-color: #fefbe9; text-align: center;">
	<p style="text-align: center; font-size: 2em; color: #183a1d; font-family: 'SaolDisplay', serif;">Employee Information</p>
		<div class="h-100 d-flex align-items-center justify-content-center">
			<div style="background-color: #e1eedd; color: #183a1d; width: 50%; margin: 10px auto; border-radius: 5px; font-size: larger;">
				<div style="padding: 20px">
					<form>
						<div>
							<img src=" {{ image_url }} " style="width: 250px; text-align: center; border-radius: 50%;"> <br><br>

							Employee ID: <p name="emp_id">{{ result[0] }}</p> <br><br>
		
							First Name: {{ result[1] }} <br><br>
		
							Last Name: {{ result[2] }} <br><br>
		
							Primary Skills: {{ result[3] }} <br><br>
		
							Location: {{ result[4] }} <br><br>						

							  <button type="submit" class="btn btn-primary" formaction="/getemp/">Go back</button>

							  <button type="submit" class="btn btn-danger" formaction="/fetchdata2">RESET</button><br><br>
						  </div>
					</form>
				</div>
			</div>
		</div>
		
</body>
</html>
